/*index.html */
#middle-container1 {
  margin-top: 5%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}


.middle-wrapper {
  margin-top: 0%;
  paddiong: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

/*topstories.html */
#middle-container2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

