.notice1 {
  margin-top: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  font-family: $font-family_2;
  font-size: 13px;
  color: $color_2;
}
.notice2 {
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  font-family: $font-family_2;
  font-size: 13px;
  color: $color_2;
}