/*topstories.html*/

.story-wrapper {
  background-color: #ffffff;
  width: 630px;
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  justify-content: space-between;
  align-items: center;
}
.story-image {
  width: 123px;
  height: 110px;
}