
#time-section {
  right: 4%;
}
#time {
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  width: 116px;
  margin-bottom: 1%;
  font-family: $font-family_2;
  letter-spacing: 0.6px;
}

#date {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  font-family: $font-family_2;
  letter-spacing: 0.4px;
}