a.top-title {
  

  text-decoration: none;
  color: $color_1;
  width: 70%;
}

a {
  &:link {
    color: $color_4;
    text-decoration: none;
    font-weight: normal;
  }
  &:active {
    color: $color_5;
    text-decoration: none;
    color: $color_9;
  }
  &:hover {
    text-decoration: none;
    color: $color_9;
  }
}