
@font-face {
    font-family: "weather";
    src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@import url("icons.css");

/* ***** General ***** */

html,
body {
    height: 100%;
}

body {
    font-family: Helvetica;
    color: #fff;
    background-image: url("/../img/ap.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/../img/ap.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

main {
    padding: 50px;
}

ul {
    margin: 0;
    padding: 0;
}

.custom-input {
    color: #ffffff;
    background-color: transparent;
    text-align: center;
    display: inline-block;
    width: 350px;
    border: none;
    border-bottom: solid #fff 2px;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    padding: 5px;
}

.custom-input:focus {
    outline: none;
}

/* ***** Top Section ***** */

.top-section {
    margin-top: 5%;
    
}


#topStories {
    /*left:20%;*/
    height: 98px;
    font-family: OpenSans;
    letter-spacing: 1px;
    font-size: 36px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    /*text-align: center;*/
}

#source{
    /*text-align: center;*/
    /*align-items: center;*/
    margin-top: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.wrapper {
    text-align: center;
    
}

.button {
    margin-top: 4%;
    width: 156px;
    height: 39px;   
    border-radius: 25px;
    border: 2px solid #ffffff;
    background: #128cf4;
    cursor: pointer;
    background-color: Transparent;
    transition: width .2s cubic-bezier(.17,.89,.39,1.25),opacity 250ms,background-color 250ms,border-color 250ms,color 250ms;
    overflow: hidden;
    /*padding: 3px 18px 3px 13px;*/
    font-size: 16px;
    letter-spacing: 0.6px;
    /*font-size: 1rem;*/
    color: #fff;
}


/* ***** Bottom Section ***** */

.bottom-section {
    padding: 35px 0;
    position: fixed;
    bottom: 0;
}



/* Twitter Trending Topics */
#logo-section {

    left: 4%;
}
#logo-section ul {
    list-style-type: none;
    margin-top: 5px;
    width: 100%;
    max-width: 600px;
}

#logo-section li {
    margin-right: 10px;
}

#logo-section a {
    font-size: 16px;
    color: #fff;
}

/* time */
#time-section {
    right: 4%;

}

#time {
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    width: 116px;
    margin-bottom: 1%;
    font-family: OpenSans;
    letter-spacing: 0.6px;


}

#date {
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    font-family: OpenSans;
    letter-spacing: 0.4px;

}

.bottom-buttons {
    font-size: 11px;
    bottom: 4%;
    position: fixed;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}



